

h1 {
    margin-top: 3%;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: black;
}

table {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border: 1px solid black;
    height: 500px;
    text-align: center;
    background-color: darkolivegreen;

}

th {
    text-align: center;
    border: 1px solid black;
}


button {
    background-color: lavenderblush;
    color: black;
    border-radius: 25px;
    padding: 7px 10px;
    margin: 8px;
    cursor: pointer;
    width: 40%;
    font-size: 10px;
}

tr{
    font-size: 20px;
}